:root {
  --background-dark: rgb(30, 30, 0);
  --color-dark: rgb()
}

body {
  background-color: rgb(220, 220, 220);
  color: rgb(60, 60, 60);
  font-family: 'Inconsolata', monospace;
  position: relative;
  /* font-family: 'Bitter', serif; */
  /* font-family: 'Source Code Pro', monospace; */
  /* font-family: 'Ibarra Real Nova', serif; */
}

.main-greet {
  position: fixed;
  font-size: 2em;
  transition: all 250ms cubic-bezier(.47,.14,.15,1.23);
  top: 30px;
  left: 50px;
  width: auto;
}

.bottom-leaves {
  position: fixed;
  bottom: 100px;
  height: 200px;
  width: 200px;
  left: -15px;
}

.bottom-leaves > svg {
  transform: rotate(69deg);
  color: #a7c6a7;
  animation: leaf-shake 1s ease-in-out 1;
  /* animation-delay: 1ms; */
}

.main-greet.animating,
.main-greet.no-content {
  font-size: 3em;
  top: 50%;
}

.main-greet.animating {
  transform: translateY(-50%);
}

.main-greet.no-content {
  transform: translateY(30px);
}

.tabs {
  animation: show .15s ease-in-out 1;
  transition: all 250ms cubic-bezier(.47,.14,.15,1.23);
}

.content {
  padding: 20px;
  margin-top: 130px;
  animation: text-emerge 250ms cubic-bezier(.47,.14,.15,1.23) 1;
}

.description-container {
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
}

.description-container > .title {
  pointer-events: none;
  user-select: none;
  transition: all 120ms ease-in-out;
}
.description-container:hover > .title {
  text-shadow: 2px 2px 5px #d2d2d2;
  transform: scale(1.01);
}

.description-container > .separator {
  pointer-events: none;
  height: 30px;
  width: 2px;
  background: rgb(60,60,60);
  position: absolute;
  transform: translateY(-10px);
}

.caret {
  height: 1em;
  width: 4px;
  position: absolute;
  background: rgba(100, 100, 100);
  border-radius: 2px;
  animation: blink .75s step-end infinite;
  bottom: 5px;
}

smart-hover {
  position: absolute;
  text-align: center;
  top: 100px;
  font-size: 1.5em;
}

smart-hover.no-content {
  top: 50%;
  width: 100%;
  transform: translateY(-80px);
}

.smart-hover-shadow {
  border-bottom: 2px solid rgb(40, 40, 40) !important;
  border-radius: 0 !important;
  background-color: unset !important;
}

@keyframes blink {
  from, to { opacity: 0 }
  50% { opacity: 1; }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* @keyframes leaf-shake {
  0% { transform: rotate(69deg); }
  10% { transform: rotate(76deg) }
  40% { transform: rotate(65deg) }
  100% { transform: rotate(69deg) }
} */

/* Copy this @keyframes block to your CSS*/
@keyframes leaf-shake {
  0.0%{
  transform: rotate(69deg);
  }
  100%{
  transform: rotate(69deg);
  }
  15%{
  transform: rotate(74deg);
  }
  50%{
  transform: rotate(66deg);
  }
  }
  