body {
  background-color: rgb(255, 248, 231);
  color: rgb(30, 20, 0);
  font-family: 'Inconsolata', monospace;
  /* font-family: 'Bitter', serif; */
  /* font-family: 'Source Code Pro', monospace; */
  /* font-family: 'Ibarra Real Nova', serif; */
}

.main-greet {
  position: fixed;
  font-size: 2em;
  transition: all 250ms cubic-bezier(.47,.14,.15,1.23);
  top: 30px;
  left: 50px;
  width: auto;
}

.main-greet.animating,
.main-greet.no-content {
  font-size: 3em;
  top: 50%;
}

.main-greet.animating {
  transform: translateY(-50%);
}

.main-greet.no-content {
  transform: translateY(30px);
}

.tabs {
  animation: show .15s ease-in-out 1;
  transition: all 250ms cubic-bezier(.47,.14,.15,1.23);
}

.content {
  padding: 20px;
  margin-top: 130px;
  animation: text-emerge 250ms cubic-bezier(.47,.14,.15,1.23) 1;
}

.description-container {
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
}

.description-container > .title {
  pointer-events: none;
}
.title:hover {
  transform: scale(1.1);
}

.description-container > .separator {
  pointer-events: none;
  height: 30px;
  width: 2px;
  background: rgb(60,60,60);
  position: absolute;
  transform: translateY(-10px);
}

.caret {
  height: 1em;
  width: 4px;
  position: absolute;
  background: rgba(100, 100, 100);
  border-radius: 2px;
  animation: blink .75s step-end infinite;
  bottom: 5px;
}

smart-hover {
  position: absolute;
  text-align: center;
  top: 100px;
  font-size: 1.5em;
}

smart-hover.no-content {
  top: 50%;
  width: 100%;
  transform: translateY(-80px);
}

.smart-hover-shadow {
  border-bottom: 2px solid rgb(40, 40, 40) !important;
  border-radius: 0 !important;
  background-color: unset !important;
}

@keyframes blink {
  from, to { opacity: 0 }
  50% { opacity: 1; }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes text-emerge {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    /* text-shadow: 1px 1px 5px rgb(140, 140, 140);
    font-size: 1.03em; */
  }
}