body {
  background: rgba(240, 240, 240);
  color: rgba(40, 40, 40);
}

.main-greet {
  position: fixed;
  font-size: 2em;
  transition: all 250ms cubic-bezier(.47,.14,.15,1.23);
  top: 30px;
  left: 30px;
  width: auto;
}

.main-greet.animating,
.main-greet.no-content {
  font-size: 3em;
  top: 50%;
}

.main-greet.animating {
  transform: translateY(-50%);
}

.main-greet.no-content {
  transform: translateY(10px);
}

.tabs, .content {
  animation: show .15s ease-in-out 1;
  transition: all 250ms cubic-bezier(.47,.14,.15,1.23);
}

.content {
  padding: 20px;
  margin-top: 130px;
}

.description-container {
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
}

.description-container > .title {
  pointer-events: none;
}
.title:hover {
  transform: scale(1.1);
}

.description-container > .separator {
  pointer-events: none;
  height: 30px;
  width: 2px;
  background: rgb(60,60,60);
  position: absolute;
  transform: translateY(-10px);
}

.caret {
  height: 90%;
  width: 6px;
  position: absolute;
  background: rgba(60, 60, 60);
  border-radius: 2px;
  animation:
  blink .75s step-end infinite;
}

smart-hover {
  /* display: block; */
  position: absolute;
  text-align: center;
  top: 100px;
}

smart-hover.no-content {
  top: 50%;
  width: 100%;
  transform: translateY(-80px);
}

.smart-hover-shadow {
  border-bottom: 2px solid rgb(40, 40, 40) !important;
  border-radius: 0 !important;
  background-color: unset !important;
}

@keyframes blink {
  from, to { opacity: 0 }
  50% { opacity: 1; }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}